		body{
				font-family: Microsoft JhengHei, Gotham;
				color:#595942;/*²`¾ñÆVºñ*/
				padding-top:50px;
				padding-bottom: 70px;
			}
			p ,span {
				font-size: 10pt;
				margin: 0px 0px 5px 0px;
				color:#DCE6D2;
			}

			.navbars{
				background-color: #595942; /*²`¾ñÆVºñ*/
			}

			.item-color{
				color:#DCE6D2;
			}
			.area50{
				margin-top: 50px;
			}
			.area20{
				margin-top: 20px;
			}
			.mgrb{
				margin: 10px ;
			}
			
			.btn-green{
				background:#595942; 
				color:#FFFFFF;
				margin-right: 15px;
			}

			.btn-org{
				background: #FA5532; /*¾ï¦âder*/
				color:#FFFFFF;
			}

			.icons{
				padding:0px 10px 0px 0px;
			}

			.imgsize{
				border-radius: 100px;
			}

			.funcbtn-normal{
				color:#595942;/*¾ñÆVºñ*/	
			}

			.panelheight{
				border-color: #CCCCCC;
				height:1200px; 
			}
			
			#checkicon{
				color:#FA5532;
			}
			.active{
				background-color:#3C9682;
			}
			a:hover{
				text-decoration:none;
			}
			
			